h2{
  background-color: #f2b148;
  text-align: center;
  font-size: 40px;
  padding-top:40px;
  padding-bottom: 40px;
}

h1{
  text-align: center;
  color: #e28edd;

}
body{
  background-image: url("beach1.jpeg");
  background-size: cover;
}
